body {
    max-width: 360px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
}

pre {
    margin-top: 0.5em;
    padding: 0.3em;
    font-family: monospace;
    font-size: 1em;
    white-space: pre;
    background-color: #eee;
    border: 1px black solid;
}
