<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <meta name="theme-color" content="#317EFB">
    <link rel="apple-touch-icon" href="/icon/512.png">
    <meta name="description" content="An app to track cars mileage">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
